/* index.css */
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .background-primary {
    min-height: 100vh;
    min-width: 100vh;
    background: linear-gradient(to bottom right, #eff6ff, #e0e7ffdb);
  }
}

.swal2-confirm,
.swal2-cancel {
  padding: 0.5rem 6.25rem;
  font-size: 1.05rem;
  border-radius: 10px;
}