/* index.css */
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .background-primary {
    min-width: 100vh;
    min-height: 100vh;
    background-color: rgb(146, 197, 207);
    color: rgb(244, 246, 247);
  }
}